
.myButton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  &:hover{
    background-color: #3e8e41;
  }
  &:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  &:focus{
    outline: none;
  }
}


.italic_title{
  font-style: italic;
}

.custom_style{
  color: Green;
  font-style: italic;
}

.box{
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 25px;
  height: 100%;
  input{
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.table{
  th{
    border-bottom: 1px solid #ccc;
    background-color: lightgray;
    padding: 15px 10px;
  }
  td{
    border-bottom: 1px solid lightgray;
    padding: 15px 10px;
  }
}
